
footer{
    background-color: var(--color-F2F5F8);
    
}

.topside_footer{
    margin: 0 auto;
    max-width: 1100px;
    padding: 10rem 0;
    background-color: var(--color-F2F5F8);
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.invite_contact_side button{
    background-color: var(--color-758BFD);
    color:  var(--color-F2F5F8);
    padding: .8rem;
    border-radius: .3rem;
}

.invite_contact_side{
    display: flex;
    flex-direction: column;
}

.titel_invite_side{
    font-size: 20px;
    font-weight: 500;
}

.invite_contact_side img{
    margin: 1.4rem 0;
}

.discibtion_invite_side{
    margin-bottom: 1.4rem;
    color: var(--color-27187F);
}

.manger_info_side{
    display: flex;
    flex-direction: column;
}

.titel_manger_info{
    font-size: 18px;
    font-weight: 500;
}

.manger_info_side img{
    margin: 1.4rem 0;
}

.manger_name{
    margin-bottom: 1.4rem;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-8172D5);
}

.contactto_manager{
    color: var(--color-27187F);
}

.midside_footer{
    background-color: #fff;
    padding: 2rem;
}

.feedback_content{
    gap: 2rem;
    display: flex;
    justify-content: center;
}

.feedback_content p{
    color: #27187F;
    font-size: 26px;
    font-weight: 700;
}

.feedback_content button{
    color: var(--color-F2F5F8);
    background-color: var(--color-758BFD);
    padding: .8rem 3.4rem;
    border-radius: .3rem;
}


.bottom_side{
    display: flex;
    justify-content: space-around;
    background-color: var(--color-758BFD);
    padding: 1.2rem 0;
}


.left_botoom_footerside span{
    color: var(--color-F2F5F8);
    font-size: 18px;
    font-weight: 800;
}

.right_bottom_footerside ul{
    display: flex;
    gap: 5rem;
}

.titel_footer{
    color: var(--color-F2F5F8);
    font-size: 18px;
    font-weight: 600;
}

footer .my_info{
    padding: .2rem 0;
    text-align: center;
    display: block;
    color: #27187F;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--color-FFB140);
}